<h1><%= @game.name %></h1>

<ul id="student-index">
  <%= for student <- @students do %>
    <li class="fa fa-<%= gender(student) %> fa-2x">
    <span class="student_name">
      <%= link name(student), to: game_game_score_path(@conn, :new, @game, student), name: "#" <> first_letter(student) %>
    </span>
    </li>
  <% end %>
</ul>
