<div id="letter-index">
  <%= for l <- @letters do %><a href="#<%= l %>"><%= l %></a><% end %>
</div>

<ul id="student-index">
  <%= for { student, count } <- @students do %>
    <li class="fa fa-<%= gender(student) %> fa-2x">
    <span class="student_name">
      <%= link name(student), to: student_path(@conn, :show, student), name: "#" <> first_letter(student) %>
    </span>
    <span class="games_completed"><%= count %>/<%= @game_count %></span>
    </li>
  <% end %>
</ul>
