<h1>Algemene Ranking</h1>
<%= for toy <- @all do %>
<%  boy = %Db.Participants{
  id: Enum.at(toy, 0),
  firstname: Enum.at(toy,1),
  lastname: Enum.at(toy,2),
  telephone: Enum.at(toy,3),
  score: Enum.at(toy,4),
  games_to_play: 1-Enum.at(toy,5)
}
  %>

  <div>
    <%= name(boy)%>, <%= boy.telephone %> : <%= boy.score %>
  </div>

<% end %>
