@import 'bourbon';
@import 'neat';

$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 480px);
$background-color: #6699FF;
$text-color: #FFF;
$aside-bg-color: #484848;

html {
    width: 100%;
}

html, body {
    height: 100%;

}

body {
    font-family: $helvetica;
    background-color: $background-color;
    color: $text-color;
    a {
        link-decoration: none;
        color: $text-color;
    }

    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-content(stretch);
    @include align-items(stretch);
    padding: 1em;
    @include media($tablet) {
        @include flex-direction(column);
        @include align-content(flex-start);
        @include align-items(default);
    }
    @include media($mobile) {
        @include flex-wrap(wrap);
    }
}

#container {
    @include flex-grow(1);
    border-radius: 5px;
    padding: .5em;
    background-color: $aside-bg-color;
}

#aside {
    @include display(flex);
    @include flex-direction(column);
    background-color: transparant;
    width: 150px;
    height: 100%;
    @include media($tablet) {
        @include flex-direction(row);
        // @include flex-wrap(wrap);
        width: 100%;
        height: 15%;
    }
    a {
        flex: 1 1 auto;
        // display: block;
        text-align: center;
        background-color: $aside-bg-color;
        margin-right: 5px;
        text-decoration: none;
        border-radius: 5px;
        @include display(flex);
        @include align-content(center);
        @include justify-content(center);
        @include flex-direction(column);
        i {
            display: block;
        }
        @include media($tablet) {
            margin: 0;
            margin-bottom: 5px;
        }
    }
    .home {
        margin-top: 5px;
        margin-bottom: 5px;
        @include media($tablet) {
            margin: 5px;
            margin-top: 0;
        }
    }
}

#letter-index {
    @include flex-direction(row);
    @include display(flex);
    @include align-items(stretch);
    @include align-content(stretch);
    @include justify-content(stretch);
    width: 100%;
    a {
        text-decoration: none;
        @include display(flex);
        @include justify-content(center);
        @include align-items(stretch);
        @include align-content(stretch);
        @include flex-grow(1);
        @include flex-shrink(0);
        margin: 0.1em;
        width: 30px;
        border-radius: 5px;
        background-color: $background-color;

    }
}

#student-index {
    @include display(flex);
    @include flex-direction(column);
    margin: 1em;
    width: 100%;
    li {
        @include display(flex);
        @include flex-direction(row);
        margin: 0.1em;
        a {
            text-decoration:none;
        }

        .student_name {
            @include display(flex);
            @include justify-content(flex-start);
            @include flex-grow(1);
            @include flex-shrink(0);
            margin-left: 1em;
        }

        .games_completed {
            @include display(flex);
            @include justify-content(flex-end);
            @include flex-grow(1);
            @include flex-shrink(0);
            margin-right: 1em;
        }
    }

}

form {
    .form-group {
        padding: .5em;
        label.control-label {
            white-space: nowrap;
            display: block;
            text-transform: uppercase;
        }
        input.form-control {
            width: 100%;
            font-size: 1.2em;
            line-height: 2em;
            border: none;
            padding: 0.25em;
        }
        .btn {
            margin-top:1em;
            width: 100%;
        }
    }
    .gender-group {
        padding: 1em;
    }
}

#game-list {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    width: 100%;
    a {
        width: 49%;
        text-decoration:none;
        text-align:center;
        background-color: $background-color;
        margin-right: 5px;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 5px;
        display: block;
    }
}
