@import 'bourbon';
@import 'neat';

$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 480px);
$background-color: #6699FF;
$text-color: #FFF;
$aside-bg-color: #484848;

html {
    width: 100%;
}

html, body {
    height: 100%;
    @include outer-container;

}

body {
    background-color: $background-color;
    color: $text-color;
    a {
        link-decoration: none;
        color: $text-color;
    }

    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-content(stretch);
    @include align-items(stretch);
    padding: 1em;
    @include media($tablet) {
        @include flex-direction(column);
        @include align-content(flex-start);
        @include align-items(default);
    }
    @include media($mobile) {
        @include flex-wrap(wrap);
    }
}

#container {
    @include flex-grow(1);
    height: 100%;
    width: 100%;
    margin-right: 1em;
    overflow: hidden;
    border-radius: 5px;
    @include media($tablet) {
        height: 68%;
    }
    @include media($mobile) {
        height: 400px;
    }
}

#main {
    position: relative;
    padding: .5em;
    height: 100%;
    width: 100%;
    background-color: $aside-bg-color;
    @include media($tablet) {
        height: 100%;
    }
}

#aside {
    @include display(flex);
    @include flex-direction(column);
    @include align-content(stretch);
    background-color: transparant;
    width: 150px;
    height: 100%;
    margin-right: 1em;
    @include media($tablet) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        width: 100%;
        height: 15%;
        margin-bottom: 1em;
    }
    @include media($mobile) {
        height: 150px;
    }
}

@mixin shared_sidebar {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    @include flex-grow(1);
    @include flex-basis(225px);
    width: 130px;
    overflow: auto;
    position: relative;
    height: 100%;
    margin-right: 1em;
    padding: 1em;
    border-radius: 5px;
    background-color: $aside-bg-color;
    box-shadow: 1px 1px 1px 1px $aside-bg-color;
}

#add_user {
    @include shared_sidebar ;

    margin-bottom: 1em;
    @include media($tablet) {
    }
}

#home {
    @include shared_sidebar ;
    @include media($tablet) {
        margin-right: 0em;
    }
}
