<h1 class="game_title"><%= @game %></h1>
<ul id="student-index">
  <%= for participant <- @participants do %>
    <li class="fa fa-<%= gender(participant)%> fa-2x">
    <span class="student_name">
      <%= link name(participant), to: game_path(@conn, :play, @game, participant)%>
    </span>
    </li>
  <% end %>
</ul>

