<div id="new_game_score">
   <h1><%= @game %></h1>
   <h2><%= name(@participant)%></h2>

   <%= render "#{@game}.html", conn: @conn, game: @game,participant: @participant%>

   <%= link(to: game_path(@conn, :index, @game)) do %>
      <i class="fa fa-check"></i>
   <% end %>
</div>
